.pager nav{
    width: 600px;
    height: 40px;
    font-size: 20px;
    border: 1px solid #000;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pager nav button{
    float: left;
    border: 1px solid #919494;
    border-radius: 4px;
    height: 30px;
    line-height: 30px;
    margin-right: 2px;
    cursor: pointer;
}
.pager nav .last{
    margin-right: 0;
}
.first, .last{
    width: 60px;
}
.prev, .next{
    width: 75px;
}
.pager nav ol li{
    float: left;
    border: 1px solid #919494;
    border-radius: 4px;
    display: inline-block;
    height: 28px;
    min-width: 30px;
    margin-right: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pager nav ol .current{
    color: #fff;
    background-color: #000;
}